@font-face {
  font-family: "montserrat";
  src: url("./fonts/Aldrich-Regular.ttf") format("truetype");
}

html,
body {
  position: relative;
  width: 100%;
  max-height: 100vh;
  padding: 0;
  overflow: hidden;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  color: #0c1645;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
  /* background-color: #060606; */
}

button:disabled {
  /* color: #999; */
}
/* 
button:not(:disabled):active {
  background-color: #ddd;
} */

/* button:focus {
  border-color: #666;
} */

#about-button {
  /* animation-duration: 4.4s; */
  width: 14vw;
  height: 14vw;
  left: 10vw;
  top: 5vh;
}

#faq-button {
  /* animation-duration: 6s; */
  width: 38vw;
  height: 19vw;
  left: 5vw;
  top: 60vh;
}

#sponsors-button {
  /* animation-duration: 4.9s; */
  width: 20vw;
  height: 20vw;
  left: 60vw;
  top: 5vh;
}

#speakers-button {
  /* animation-duration: 4.9s; */
  width: 14vw;
  height: 14vw;
  left: 80vw;
  top: 40vh;
}

#winners-button {
  /* animation-duration: 3s; */
  width: 12vw;
  height: 12vw;
  left: 70vw;
  top: 70vh;
}

/* .planetButton:not(.active) {
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
} */

.planetButton.active {
  /* background-color: #ddd; */
  font-size: 0;
  z-index: -1;
  left: 50% !important;
  top: 50% !important;
  width: 90vw !important;
  height: 90vw !important;
  margin-left: -45vw;
  margin-top: -45vw;
}

.planetButton.active#faq-button {
  width: 200vw !important;
  height: 200vw !important;
  margin-left: -100vw;
  margin-top: -100vw;
}

.hidden {
  margin-top: -100vh !important;
  transition: all 0.5s;
}

.hasActive .planetButton:not(.active) {
  width: 0 !important;
}

.hasActive > #about-button:not(.active) {
  left: -20%;
  top: -20%;
}

.hasActive > #faq-button:not(.active) {
  left: -20%;
  top: 120%;
}

.hasActive > #winners-button:not(.active) {
  left: 120%;
  top: 120%;
}

.hasActive > #sponsors-button:not(.active) {
  left: 120%;
  top: -20%;
}

.hasActive > #speakers-button:not(.active) {
  left: -20%;
}

strong {
  font-weight: heavy;
  text-decoration: underline;
}

@media only screen and (max-width: 420px) {
  .planetButton {
    font-size: 8vw;
  }

  #winners-button {
    width: 24vw;
    height: 24vw;
    left: 70vw;
    top: 72vh;
  }

  #faq-button {
    width: 60vw;
    height: 24vw;
    left: -11vw;
    top: 72vh;
  }

  #about-button {
    width: 24vw;
    height: 24vw;
    left: 6vw;
    top: 10vh;
  }

  #sponsors-button {
    width: 24vw;
    height: 24vw;
    left: 68vw;
    top: 10vh;
  }

  .content {
    max-height: 80vh;
  }
}
